/nbproject/private/
/myProject-war/nbproject/private/
/myProject-ejb/nbproject/private/
/myProject-ejb/build/
/build/
/myProject-ejb/dist/
/myProject-war/build/
/myProject-war/dist/
/SpringApplication/nbproject/private/
/SpringApplication/build/
/dist/